.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #8E24AA;
    margin-top: 20px;
}

.header_burger-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header_title {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
}

.header_title-text {
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

.header_nav {
    display: flex;
    gap: 5px;
    position: relative;
}

.header_search {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#menu-container {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 10;
    display: inline-block;
}

.hidden {
    display: none;
}

.menu_list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu_item button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    padding: 5px;
}

.menu_item button:hover {
    color: white;
    font-weight: bold;
}
