.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #8e24aa;
  margin-top: 20px;
  position: relative;

  button:not(.back_button):hover {
    background-color: #bc33e1;
    color: #fff;
    font-weight: bold;
  }

  &__burger-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
    background-color: transparent;
    border: none;

    &:hover {
      text-decoration: underline;
    }

    &-text {
      font-weight: bold;
      font-size: 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 150px;
    }
  }

  &__nav {
    display: flex;
    gap: 5px;
    position: relative;

    button {
      background-color: transparent;
      border: none;
    }
    
    .search-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}

.menu-container {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 10;
  display: inline-block;

  &--hidden {
    display: none;
  }

  .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu-item {
    button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 16px;
      width: 100%;
      padding: 5px;

      &:hover {
        color: white;
        font-weight: bold;
      }
    }
  }
}

.back_button {
  width: 40px;
  border: 1px solid transparent;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 10px;

  &:hover {
    border: 1px solid #8e24aa;
  }
}
