.attach {
  width: 30px;
  height: 30px;
  background-color: #f3e5f5;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 5px;

  &:hover{
    border: 1px solid #8e24aa;
  }

  &_container {
    position: absolute;
    width: 150px;
    background-color: white;
    top: -130px;
    right: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px 0px rgba(34, 60, 80, 0.5);
    border: 3px solid #fff;
  }


  &_item {
    button {
      width: 100%;
      min-height: 20px;
      padding: 10px;
    }

    button:hover {
      background-color: #a840c5;
      color: white;
    }
  }
}
